@font-face {
    font-family: myfont;
    src: url(/Fonts/nature_beauty/Nature\ Beauty\ Personal\ Use.ttf);
}


@font-face {
    font-family: myfont1;
    src: url(/Fonts/Anthem/Rough\ Anthem\ Italic.ttf);
}

@font-face {
    font-family: myfont2;
    src: url(/Fonts/caramel/Caramel\ and\ Vanilla.ttf);
}

.header {
    background-image: url(/images/pexels-damon-hall-1705253.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color: whitesmoke;
}

.navbar-brand {
    font-family: myfont;
}

.contain {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-shadow: 3px 3px 4px black;
    font-family: 'Montserrat', sans-serif;
}

.header-para {
    font-size: 3vh;
    font-weight: lighter;
    margin: auto;
    width: 30%;
    color: white;
}

.header-h2 {
    margin-top: 50px;
}

.wrapper {
    margin-top: 20px;

}

.butn {
    background-color: orangered;
    border: 0;
    border-radius: 3cm;
    font-family: 'Montserrat', sans-serif;
    width: 120px;
    color: white;
}



.wrapper {
    background-color: white;

    border-radius: 3cm;
    padding: 4px 4px;
}

.previous-offers {
    display: flex;
    padding: 0px 20px;

}

.section2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 70px 0px;
    color: rgb(9, 9, 82);
}


.photo {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.images {
    position: relative;
    height: 230px;
}

.images img {
    width: 100%;
    height: 100%;
}

.photo .images {
    text-align: center;
}

.box {
    padding-bottom: 130px;
    box-shadow: 1px 1px 10px black;
}

.row .col {
    text-align: center;
}

.section3 .working {
    width: 150px;
    height: 150px;
}

.section3 {
    background-color: rgb(243, 242, 242);
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 75px;
}

.section3 .working-title {
    color: rgb(15, 15, 70);
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.section3 .working-desc {
    color: rgb(82, 81, 81);
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: normal;
}

.section4 .section4-title {
    font-family: myfont1;

}

.section4 {
    height: 500px;
    background-image: url(/images/pexels-asad-photo-maldives-1320684.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-align: center;
}

.section4 h1 {
    padding-top: 150px;
    font-size: 70px;
    text-shadow: 3px 3px 4px black;

}

.section4 .p1 {
    padding-top: 45px;
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    margin: auto;
    font-size: 20px;
    text-shadow: 3px 3px 4px black;
    font-weight: bold;

}

.section4 .p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-shadow: 3px 3px 4px black;

}

strike {
    text-decoration-color: orangered;
}

.image-grid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;
    box-sizing: border-box;
    padding: 0px 150px;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:1024) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }

}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.image-grid div {
    position: absolute;
}

.first,
.second,
.third,
.fourth,
.fifth {
    position: relative;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.font1{
    font-weight: bold;
}

.image-grid div .first {
    top: 100px;
    left: 40px;
}

.image-grid div .second {
    left: 725px;
    top: 166px;
}

.image-grid div .third {
    top: 500px;
    left: 45px;
}

.image-grid div .fourth {
    top: 500px;
    left: 375px;
}

.image-grid div .fifth {
    top: 330px;
    left: 750px;
}

.image-grid div .font {
    font-family: myfont2;
    font-size: 40px;
}
.footer{
    background-image: url(/images/beach.jpg);
    background-size: cover;
    padding: 70px 0px;
    box-sizing: border-box;
    color: #fff;
    margin-top: 100px;

}
.footer h4{
    text-transform: capitalize;
    padding-bottom: 30px;
    
}
.footer ul{
 list-style: none;
 padding: 0px;
}
.footer .row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-col1{
    width: 25%;
    padding: 0px 30px;
}
.footer-col1 ul li a{
    color: blanchedalmond;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5px;
}
.footer .container1 .footer-col1 ul li a{
    line-height: 30px;
}
.footer h4:hover{
    margin-left: 5px;
    text-decoration: underline;
}